<div class="banner-container banner-change">
  <div class="banner-nav-bar">
    <div><h1><i class="fa-solid fa-video"></i>Watch List</h1></div>
    <div>
      <ul class="banner-ul">
        <li>Login</li>
        <li class="btn-sign">Sign up</li>
      </ul>
    </div>
  </div>
</div>
